.sponsor-img-div img {
    width: 8rem;
    filter: grayscale(100%);
    transition: 0.3s;
    text-align: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    cursor: pointer;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.sponsor-img-div img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}